.coupon-page{
    background:#f6f8f6;
    min-height:100vh;
    margin-top: 50px;
}





.coupon-hero{

    background-color: #15803d;
    color:white;
    text-align:center;
    padding:50px 20px;
    border-radius:0 0 35px 35px;

}


.coupon-hero svg{

    font-size:45px;

}


.coupon-hero h1{

    font-size:38px;
    margin:15px 0;

}





.coupon-category{

    display:flex;
    gap:15px;
    padding:25px;
    overflow-x:auto;

}


.coupon-category button{

    border:none;
    background:white;
    padding:12px 22px;
    border-radius:30px;
    box-shadow:0 4px 12px #ddd;
    white-space:nowrap;

}





.coupon-container{

    padding:20px;

}


.coupon-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}



.coupon-card{

    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;

}
.coupon-card h3{
    padding-bottom: 2px;
    color: #333;
    margin-top: 15px;
}
.coupon-card p{
    padding-bottom: 2px;
    color: grey;
}
.coupon-card small{
    color: grey;
   
}

.coupon-card:hover{

    transform:translateY(-8px);

}


.discount{

    font-size:32px;
    font-weight:bold;
    color:#15803d;

}


.coupon-code{

    margin:20px 0;
    padding:12px;
    text-align:center;
    border:2px dashed #15803d;
    border-radius:12px;
    font-weight:bold;
    color:#15803d;

}



.coupon-card button{

    width:100%;
    padding:12px;
    border:none;
    background:#15803d;
    color:white;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
   margin-top: 13px;

}



.how-use{

    background:white;
    margin:25px;
    padding:25px;
    border-radius:20px;
    color: #333;

}
.how-use p{
    padding-bottom: 6px;
}

.coupon-container h2{
    color:#15803d;
    padding-bottom: 30px;
}
.ho{
    margin-top: 19px;
}




@media(max-width:900px){

.coupon-grid{

    grid-template-columns:repeat(2,1fr);

}

}


@media(max-width:600px){

.coupon-grid{

    grid-template-columns:1fr;

}


.coupon-hero h1{

    font-size:28px;

}

}