.admin{
    display:flex;
    background:#f4f6f9;
    min-height:100vh;
}

.admin-content{
    margin-left:260px;
    width:100%;
    padding:30px;
}

.admin-content h1{
    margin-bottom:20px;
    font-size: 20px;
}

.cardsd{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.cardy{
    background:#fff;
    padding:18px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    text-align:center;
}

.icon{
    font-size:30px;
    color:#0b5d2c;
    
}

.cardy h2{
    font-size:20px;
}

.cardy p{
    color:#666;
    margin-top:5px;
}
.nm{
    font-weight: 600;
    font-size: 15px;
}
.prod{
    font-size: 15px;
}
.pri{
    font-weight: 600;
}

@media(max-width:900px){
.cardsd{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.admin-content{
margin-left:0;
padding:15px;
}

.cardsd{
grid-template-columns:1fr;
}
}
.recent-title{
    margin: 30px 0 12px;
    color: #0b5d2c;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.recent-table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}
.recent-table th{
    background-color: #0b5d2c;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}
.recent-table td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid#eee;
}
.recent-table tr:hover{
    background-color: #f8fff8;
}