*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

.home-cate{
    width: 100%;
    background-color: #fff;
}
.categories-sec{
    padding: 50px 40px;
    max-width: 1400px;
    margin: auto;
}
.section-heading{
    margin-bottom: 25px;
}
.section-heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #16803d;
}
.section-heading p{
    font-size: 13px;
    color: #777;
    margin-top: -3px;
}
.categoriesed{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    overflow-x: auto;
    padding: 5px 5px 15px;
}
.categoriesed::-webkit-scrollbar{
    height: 5px;
}
.categoriesed::-webkit-scrollbar-thumb{
    background-color: #ddd;
    border-radius: 10px;
}
.category{
    min-width: 130px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.category:hover{
    transform: translateY(-5px);
}
.category-image{
    width: 120px;
    height: 110px;
    background-color: #f8f8f8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 12px;
    overflow: hidden;
}
.category-image img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: .2s;
}
.category-names{
    font-size: 14px;
    font-weight: 500;
    color: #555;
    white-space: nowrap;
}